

@mixin scaleUp-anime($direction: 'normal'){
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: scaleUp 500ms ease-out 0s forwards;
    animation-direction: $direction;   
}
@mixin scaleZero-anime($direction: 'normal'){
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: scaleZero 500ms ease-out 0s forwards;
    animation-direction: $direction;   
}

@mixin fadeIn-anime{
    animation: fadeIn 500ms ease-out 0s forwards;
}

@mixin fadeIn2-anime{
    animation: fadeIn 1000ms ease-out 2000ms forwards;
}

@mixin appearIn-Anime{
    animation: appearIn 500ms ease-out 500ms forwards;
}

@mixin slideLeft-anime{
    animation: slideLeft 500ms ease-in-out 2000ms forwards;
}
@mixin slideRight-anime{
    animation: slideRight 500ms ease-in-out 2000ms forwards;
}
@mixin slideUp-anime{
    animation: slideUp 500ms ease-in-out 2000ms forwards;
}
@mixin slideDown-anime{
    animation: slideDown 500ms ease-in-out 2000ms forwards;
}
@mixin appearFromCorner-animeON{
    animation: appearFromCorner 500ms ease-in-out 0ms forwards;
}
@mixin appearFromBottom-animeON{
    animation: appearFromBottom 500ms ease-in-out 0ms forwards;
}
@mixin appearFromCorner-animeOFF{
    animation: appearFromCorner 500ms ease-in-out 0ms forwards;
    animation-direction: reverse;
}
@mixin appearFromBottom-animeOFF{
    animation: appearFromBottom 500ms ease-in-out 0ms forwards;
    animation-direction: reverse;
}

@keyframes scaleUp {
    // 0%{
    //     // transform: scale(0%);
    // }
    0%{
        transform: scale(90%);
        opacity: 0;
    }
    100%{
        transform: scale(100%);
        opacity: 1;
    }
}
@keyframes scaleZero {
    // 0%{
    //     // transform: scale(0%);
    // }
    0%{
        transform: scale(100%);
        opacity: 1;
    }
    100%{
        transform: scale(0%);
        opacity: 0;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes appearIn {
    0%{
        opacity: 0;
        transform: scale(0%);
    }
    90%{
        opacity: 1;
        transform: scale(110%);
    }
    100%{
        opacity: 1;
        transform: scale(100%);
    }
}
@keyframes slideLeft {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%) scale(110%);
    }
}
@keyframes slideRight{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(50%) scale(110%);
    }
}
@keyframes slideDown{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(50%);
    }
}
@keyframes slideUp{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-50px);
    }
}

@keyframes appearFromCorner {
    0%{
        transform: scale(0%) ;
        transform-origin: bottom right;
    }
    100%{
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes appearFromBottom {
    0%{
        transform: scale(0%) ;
        transform-origin: bottom;
    }
    100%{
        opacity: 1;
        transform: scale(100%);
    }
}