@import 'flexbox';
@import 'breakpoints';

.App {
    position: relative;
    text-align: center;
    background: radial-gradient(circle at top, #1f3756 , #141539);
    height: 100vh;
    @include flexbox(column, center, space-between);
    font-family: 'Barlow Semi Condensed', sans-serif;
    .buttons{
        border: 1px solid #e9e4e5;
        border-radius: 0.5rem;
        color: #e9e4e5;
        padding: 8px 32px;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
    }
    .rulesButton{
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        cursor: pointer;
    }
    .switchGame{
        position: fixed;
        bottom: 2rem;
        left: 2rem;
        img{
            max-width: 100px;
        }
    }
}
.App > *{
    box-sizing: border-box;
}
.container{
    flex: 1;
    @include flexbox('', center, center);
    & > *{
        box-sizing: border-box;
    }
    position: relative;
}
@include xl-above-screen{
    .container{
        width: 50vw;
    }
}
@include lg-xl-screen{
    .container{
        width: 60vw;
    }
}
@include lg-below-screen{
    .container{
        width: 80vw;
    }
}
@include sm-below-screen{
    .container{
        width: 90vw;
    }
}

@include sm-above-screen{
    .rules-switchGame-mobile{
        display: none;
    }
    .rulesButton{
        right: 2rem;
    }
}
@include sm-below-screen{
    .dummy{
        height: 20vh;
    }
    .rules-switchGame-desktop{
        display: none;
    }
}

   