@import 'flexbox';
@import 'breakpoints';

.header{
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: appearDown 1000ms ease-out 0s forwards;
    padding: 1rem;
    margin-top: 3rem;
    border: 3.8px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    @include flexbox('', '', space-between);
    .logo{
        
    }
    .scoreCard{
        background-image: linear-gradient(to bottom, #ffffff, #f7f6f7, #f0edef, #e9e4e5, #e2dbdb);
        
        border-radius: 10px;
        @include flexbox(column, center, center);
        line-height: 1;
        .scoreText{
            color: hsl(229, 64%, 46%);
            font-weight: 600;
            letter-spacing: 2px;
        }
        .score{
            font-size: 3.5rem;
            font-weight: 700;
            color: hsl(229, 25%, 31%);
        }
    }
}

@include xl-above-screen{
    .header{
        width: 50vw;
        padding: 1.5rem;
        .scoreCard{
            width: 150px;
        }
    }
}
@include lg-xl-screen{
    .header{
        width: 60vw;
        .scoreCard{
            width: 120px;
        }
    }
}
@include lg-below-screen{
    .header{
        width: 80vw;
        .scoreCard{
            width: 120px;
        }
    }
}
@include sm-below-screen{
    .header{
        margin-top: 2rem;
        width: 90vw;
        border-radius: 10px;
        .scoreCard{
            width: 100px;
            border-radius: 8px;
            .scoreText{
                font-size: 0.9rem;
            }
            .score{
                font-size: 2.5rem;
            }
        }
        img{
            max-width: 35%;
        }
    }
}


@keyframes appearDown {
    0%{

    }
    1%{

    }
    2%{
        transform: translateY(-150%);
    }
    100%{
        transform: translateY(0);
    }
}

