@import 'flexbox';
@import 'breakpoints';
@import 'animations';
@import 'commonParts';

.bg-triangle{
    // animation: fadeIn 500ms ease-out 0s forwards;
    @include fadeIn-anime;
    background-image: url('../assets/images/bg-triangle.svg');
    background-position: center;
    background-repeat: no-repeat;
} 
.playComp, .disappearPlayComp{
    flex: 1;
    padding: 2rem;
    @include flexbox('', center, center);
    flex-wrap: wrap;
}
.playComp{
    @include scaleUp-anime(normal);
}
.disappearPlayComp{
    opacity: 1; 
    @include scaleZero-anime(normal);
}



@include xl-above-screen{
    .playComp, .disappearPlayComp{
        width: 50vw;
    }
}
@include lg-xl-screen{
    .playComp, .disappearPlayComp{
        width: 60vw;
    }
}
@include md-lg-screen{
    .playComp, .disappearPlayComp{
        width: 80vw;
    }
}
@include sm-md-screen{
    .playComp, .disappearPlayComp{
        width: 80vw;
        padding: 1rem;
    }
}
@include sm-below-screen{
    .playComp, .disappearPlayComp{
        width: 90vw;
        max-height: 50vh;
        padding: 0rem;
    }
}
