@-webkit-keyframes scaleUp {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appearIn {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  90% {
    opacity: 1;
    transform: scale(110%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearIn {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  90% {
    opacity: 1;
    transform: scale(110%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@-webkit-keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@-webkit-keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}
@-webkit-keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
.playComp2 {
  flex-direction: column;
}

.innerDiv, .innerDiv1, .innerDiv2 {
  width: 100%;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-around;
}

.innerDiv {
  opacity: 0;
  -webkit-animation: appearIn 500ms ease-out 500ms forwards;
          animation: appearIn 500ms ease-out 500ms forwards;
}

.innerDiv1 {
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.innerDiv2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.msg {
  color: white;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.emptyImg {
  background-color: rgba(0, 0, 0, 0.432);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.playComp2 {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  -webkit-animation: fadeIn 1000ms ease-out 2000ms forwards;
          animation: fadeIn 1000ms ease-out 2000ms forwards;
}
.result .resultMsg {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.result .playAgain {
  background-color: white;
  color: hsl(229deg, 25%, 31%);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  letter-spacing: 2px;
  margin-top: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .playComp2 {
    width: 50vw;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .playComp2 {
    width: 60vw;
  }
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .playComp2 {
    width: 80vw;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .playComp2 {
    width: 80vw;
    padding: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .playComp2 {
    width: 90vw;
    max-height: 50vh;
    padding: 0rem;
  }
}
@media only screen and (min-width: 480px) {
  .innerDiv2, .result2 {
    display: none;
  }
  .pick1, .innerDiv1 :first-child {
    -webkit-animation: slideLeft 500ms ease-in-out 2000ms forwards;
            animation: slideLeft 500ms ease-in-out 2000ms forwards;
  }
  .pick2, .innerDiv1 :last-child {
    -webkit-animation: slideRight 500ms ease-in-out 2000ms forwards;
            animation: slideRight 500ms ease-in-out 2000ms forwards;
  }
}
@media only screen and (max-width: 480px) {
  .innerDiv1, .result1 {
    display: none;
  }
  .pick1, .pick2, .innerDiv2 {
    -webkit-animation: slideUp 500ms ease-in-out 2000ms forwards;
            animation: slideUp 500ms ease-in-out 2000ms forwards;
  }
  .result {
    transform: translateY(100%);
  }
}/*# sourceMappingURL=playComp2.css.map */