@-webkit-keyframes scaleUp {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@-webkit-keyframes scaleZero {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0%);
    opacity: 0;
  }
}
@keyframes scaleZero {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0%);
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appearIn {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  90% {
    opacity: 1;
    transform: scale(110%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearIn {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  90% {
    opacity: 1;
    transform: scale(110%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@-webkit-keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%) scale(110%);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%) scale(110%);
  }
}
@-webkit-keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%) scale(110%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%) scale(110%);
  }
}
@-webkit-keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@-webkit-keyframes appearFromRightCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearFromRightCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@-webkit-keyframes appearFromLeftCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom left;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearFromLeftCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom left;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@-webkit-keyframes appearDown {
  2% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appearDown {
  2% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes riseUp {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes riseUp {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes buzzinga {
  from {
    transform: scale(0%) translateY(100%);
  }
  to {
    transform: scale(100%) translateY(0%);
  }
}
@keyframes buzzinga {
  from {
    transform: scale(0%) translateY(100%);
  }
  to {
    transform: scale(100%) translateY(0%);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes scaleZero {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0%);
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearIn {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  90% {
    opacity: 1;
    transform: scale(110%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%) scale(110%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%) scale(110%);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@keyframes appearFromRightCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearFromLeftCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom left;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearDown {
  2% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes riseUp {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes buzzinga {
  from {
    transform: scale(0%) translateY(100%);
  }
  to {
    transform: scale(100%) translateY(0%);
  }
}
.circle {
  width: 30%;
  aspect-ratio: 1;
  padding: 4%;
  margin: 0 5% 5% 5%;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 500ms;
}
.circle .imgDiv {
  background-image: linear-gradient(to bottom, #ffffff, #f7f6f7, #f0edef, #e9e4e5, #e2dbdb);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 8px 2px 0px rgba(139, 138, 138, 0.507);
}
.circle .imgDiv img {
  width: 50%;
}
.circle:hover {
  transform: scale(110%) rotate(10deg);
}

.paper {
  background: radial-gradient(circle at top, #4865f4, #5671f5);
  box-shadow: 0px 8px 2px 0px #2947df;
}

.scissors {
  background: radial-gradient(circle at top, #ec9e0e, #eca922);
  box-shadow: 0px 8px 2px 0px #c58d25;
}

.rock {
  background: radial-gradient(circle at top, #dc2e4e, #dd405d);
  box-shadow: 0px 8px 2px 0px #b62741;
}

.lizard {
  background: radial-gradient(circle at top, #834fe3, #8c5de5);
  box-shadow: 0px 8px 2px 0px #6e3bce;
}

.spock {
  background: radial-gradient(circle at top, #40b9ce, #52bed1);
  box-shadow: 0px 8px 2px 0px #23a1b8;
}

@media only screen and (min-width: 1200px) {
  .circle {
    width: 200px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .circle {
    width: 180px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .circle {
    width: 180px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .circle {
    width: 150px;
    margin: 0 3% 3% 3%;
  }
}
@media only screen and (max-width: 480px) {
  .circle {
    width: 140px;
    padding: 3%;
  }
}
.playComp2, .disappearPlayComp2 {
  flex-direction: column;
  height: 100%;
}

.playComp2 {
  -webkit-animation: scaleUp 500ms ease-out 0s forwards;
          animation: scaleUp 500ms ease-out 0s forwards;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.disappearPlayComp2 {
  opacity: 1;
  -webkit-animation: scaleZero 500ms ease-out 0s forwards;
          animation: scaleZero 500ms ease-out 0s forwards;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.innerDiv, .innerDiv1, .innerDiv2 {
  width: 100%;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-around;
}

.innerDiv {
  opacity: 0;
  -webkit-animation: appearIn 500ms ease-out 500ms forwards;
          animation: appearIn 500ms ease-out 500ms forwards;
}

.innerDiv1 {
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.innerDiv2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.msg {
  color: white;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.emptyImg {
  background-color: rgba(0, 0, 0, 0.432);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.playComp2, .disappearPlayComp2 {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  -webkit-animation: fadeIn 1000ms ease-out 2000ms forwards;
          animation: fadeIn 1000ms ease-out 2000ms forwards;
}
.result .resultMsg {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.result .playAgain {
  background-color: white;
  color: hsl(229deg, 25%, 31%);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  letter-spacing: 2px;
  margin-top: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .playComp2, .disappearPlayComp2 {
    width: 50vw;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .playComp2, .disappearPlayComp2 {
    width: 60vw;
  }
}
@media only screen and (min-width: 720px) and (max-width: 960px) {
  .playComp2, .disappearPlayComp2 {
    width: 80vw;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .playComp2, .disappearPlayComp2 {
    width: 80vw;
    padding: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .playComp2, .disappearPlayComp2 {
    width: 90vw;
    max-height: 50vh;
    padding: 0rem;
  }
}
@media only screen and (min-width: 480px) {
  .innerDiv2, .result2 {
    display: none;
  }
  .pick1, .innerDiv1 :first-child {
    -webkit-animation: slideLeft 500ms ease-in-out 2000ms forwards;
            animation: slideLeft 500ms ease-in-out 2000ms forwards;
  }
  .pick2, .innerDiv1 :last-child {
    -webkit-animation: slideRight 500ms ease-in-out 2000ms forwards;
            animation: slideRight 500ms ease-in-out 2000ms forwards;
  }
  .winnerShadow {
    box-shadow: 0 0 2px 50px rgba(255, 255, 255, 0.062745098), 0 0 4px 125px rgba(175, 174, 174, 0.0941176471), 0 0 5px 200px rgba(175, 174, 174, 0.0352941176);
  }
}
@media only screen and (max-width: 480px) {
  .innerDiv1, .result1 {
    display: none;
  }
  .pick1, .pick2, .innerDiv2 {
    -webkit-animation: slideUp 500ms ease-in-out 2000ms forwards;
            animation: slideUp 500ms ease-in-out 2000ms forwards;
  }
  .result {
    transform: translateY(100%);
  }
  .winnerShadow {
    box-shadow: 0 0 2px 20px rgba(255, 255, 255, 0.062745098), 0 0 4px 40px rgba(175, 174, 174, 0.0941176471), 0 0 5px 60px rgba(175, 174, 174, 0.0352941176);
  }
}/*# sourceMappingURL=playComp2.css.map */