@-webkit-keyframes scaleUp {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appearIn {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  90% {
    opacity: 1;
    transform: scale(110%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearIn {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  90% {
    opacity: 1;
    transform: scale(110%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@-webkit-keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%) scale(110%);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%) scale(110%);
  }
}
@-webkit-keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%) scale(110%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%) scale(110%);
  }
}
@-webkit-keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@-webkit-keyframes appearFromCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearFromCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@-webkit-keyframes appearFromBottom {
  0% {
    transform: scale(0%);
    transform-origin: bottom;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearFromBottom {
  0% {
    transform: scale(0%);
    transform-origin: bottom;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
.rulesModal {
  background-color: rgba(0, 0, 0, 0.466);
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: scale(0%);
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: center;
}
.rulesModal .modalDiv {
  opacity: 0;
  padding: 1rem 3rem;
  margin: auto 0.5rem;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.rulesModal .modalDiv img {
  margin-top: 1rem;
}
@media only screen and (max-width: 480px) {
  .rulesModal .modalDiv img {
    max-width: 70vw;
  }
}
.rulesModal .modalDiv .modalHeader {
  width: 100%;
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: space-between;
}
.rulesModal .modalDiv .modalHeader span {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(229deg, 25%, 31%);
  margin: 1rem 0;
}
.rulesModal .modalDiv .modalHeader img {
  cursor: pointer;
}

@media only screen and (min-width: 480px) {
  .modalOff {
    -webkit-animation: appearFromCorner 500ms ease-in-out 0ms forwards;
            animation: appearFromCorner 500ms ease-in-out 0ms forwards;
    animation-direction: reverse;
  }
}
@media only screen and (max-width: 480px) {
  .modalOff {
    -webkit-animation: appearFromBottom 500ms ease-in-out 0ms forwards;
            animation: appearFromBottom 500ms ease-in-out 0ms forwards;
    animation-direction: reverse;
  }
}
.modalOff .modalDiv {
  opacity: 1;
}

.modalOn {
  transform: scale(100%);
}
@media only screen and (min-width: 480px) {
  .modalOn .modalDiv {
    -webkit-animation: appearFromCorner 500ms ease-in-out 0ms forwards;
            animation: appearFromCorner 500ms ease-in-out 0ms forwards;
  }
}
@media only screen and (max-width: 480px) {
  .modalOn .modalDiv {
    -webkit-animation: appearFromBottom 500ms ease-in-out 0ms forwards;
            animation: appearFromBottom 500ms ease-in-out 0ms forwards;
  }
}/*# sourceMappingURL=rulesModal.css.map */