@-webkit-keyframes scaleUp {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@-webkit-keyframes scaleZero {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0%);
    opacity: 0;
  }
}
@keyframes scaleZero {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0%);
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appearIn {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  90% {
    opacity: 1;
    transform: scale(110%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearIn {
  0% {
    opacity: 0;
    transform: scale(0%);
  }
  90% {
    opacity: 1;
    transform: scale(110%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@-webkit-keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%) scale(110%);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%) scale(110%);
  }
}
@-webkit-keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%) scale(110%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%) scale(110%);
  }
}
@-webkit-keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@-webkit-keyframes appearFromRightCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearFromRightCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom right;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@-webkit-keyframes appearFromLeftCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom left;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes appearFromLeftCorner {
  0% {
    transform: scale(0%);
    transform-origin: bottom left;
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@-webkit-keyframes appearDown {
  2% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appearDown {
  2% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes riseUp {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes riseUp {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes buzzinga {
  from {
    transform: scale(0%) translateY(100%);
  }
  to {
    transform: scale(100%) translateY(0%);
  }
}
@keyframes buzzinga {
  from {
    transform: scale(0%) translateY(100%);
  }
  to {
    transform: scale(100%) translateY(0%);
  }
}
.videoModal {
  background-color: rgba(0, 0, 0, 0.466);
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: scale(0%);
  display: flex;
  flex-direction: "";
  align-items: center;
  justify-content: center;
}
.videoModal .videoModalDiv {
  box-sizing: border-box;
  border-radius: 1rem;
  width: 500px;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  .videoModal .videoModalDiv {
    width: 400px;
  }
}
@media only screen and (max-width: 480px) {
  .videoModal .videoModalDiv {
    width: 90vw;
  }
}
.videoModal .videoModalDiv .closeVideo {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  margin-top: 1rem;
}

.videoModalOff {
  background-color: rgba(0, 0, 0, 0);
  -webkit-animation: appearFromLeftCorner 500ms ease-in-out 0ms forwards;
          animation: appearFromLeftCorner 500ms ease-in-out 0ms forwards;
  animation-direction: reverse;
}
.videoModalOff .videoModalDiv {
  opacity: 1;
}

.videoModalOn {
  transform: scale(100%);
}
.videoModalOn .videoModalDiv {
  -webkit-animation: appearFromLeftCorner 500ms ease-in-out 0ms forwards;
          animation: appearFromLeftCorner 500ms ease-in-out 0ms forwards;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}/*# sourceMappingURL=videoModal.css.map */